<?xml version="1.0"?>

<model>
  <name>CustomTurtleBot3</name>
  <version>1.0</version>
  <sdf version="1.4">custom_model-1_4.sdf</sdf>
  <sdf version="1.5">custom_model.sdf</sdf>

  <author>
    <name>Sergio Romero</name>
    <email>sergioromero48@outlook.com</email>
  </author>

  <description>
    Custom version of TurtleBot3 Burger
  </description>
</model>
